// Basics
$white:							#ffffff;
$black:							#222222;
$off-white:					#F7F9FA;
$grey: 							#52616B;
$darkgrey: 					#1E2022;
$pink: 							#FF9999;
$red: 							#E84545;
$purple: 						#7E6BC4;
$blue: 							#1e87f0;
$orange: 						#FEA386;

// Base
$base-background:				#ffffff !default;
$base-text-color:				#666666 !default;
$base-text-active-color:		#232529 !default;
$base-border-color:				#e7e8ea !default;

// Accents
$accent-color-1:				#ff5e3a !default;
$accent-color-2:				#67267a !default;

// Menu Style
$menustyle-text-color:                  #434343 !default;
$menustyle-text-color-active:           #434343 !default;
$menustyle-active-background:           #ffffff !default;
$menustyle-sublevel-text-color:         #434343 !default;
$menustyle-sublevel-text-color-active:  #434343 !default;
$menustyle-sublevel-background:         #ffffff !default;

// Page Surround
$pagesurround-background: 		$base-background !default;

// Header
$header-background:				#ffffff !default;
$header-text-color:				#434343 !default;



// Error
$error-background:				#ffffff !default;
$error-text-color:				#444444 !default;

// Abovefooter
$abovefooter-background:				#f3f3f3 !default;
$abovefooter-text-color:				#444444 !default;

// Main
$main-background:				#ffffff !default;
$main-text-color:				#666666 !default;

// Footer
$footer-background:				#212121 !default;
$footer-text-color:				#ffffff !default;

// Off Canvas
$offcanvas-background:			#ffffff !default;
$offcanvas-text-color:			#696969 !default;
$offcanvas-toggle-color:		#ff5e3a !default;

// Block Variations
$box1-background:				$accent-color-1 !default;
$box2-background:				$accent-color-2 !default;
$box3-background:				$black !default;
$box4-background:				darken($base-background, 5%) !default;
$box-white-background: 			$white !default;
$box-grey-background: 			$grey !default;
$box-darkgrey-background: 		$darkgrey !default;
$box-pink-background: 			$pink !default;
$box-red-background: 			$red !default;
$box-purple-background: 		$purple !default;
$box-blue-background: 			$blue !default;
$box-orange-background: 		$orange !default;

// System Messsages and Alerts
$warning-color:					#c09853;
$error-color:					#b94a48;
$info-color:					#3a87ad;
$success-color:					#468847;

// Typography
$rule-color:					fadeout($base-border-color, 75%);
$code-text:						#c7254e;
$code-bg:						#f9f2f4;
$pre-text:						#237794;
$pre-bg:						#f6f6f6;

// Borders
$border-color-hover:			$accent-color-1;
$border-color-focus:			$accent-color-1;
$border-color-light:            rgba(0, 0, 0, 0.1);

// Shadows
$base-box-shadow: 				inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$base-content-shadow:			2px 1px 15px rgba(0, 0, 0, 0.05);
