/**
 * @package Helix Framework
 * @author JoomShaper http://www.joomshaper.com
 * @copyright Copyright (c) 2010 - 2015 JoomShaper
 * @license http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 or later
*/
/*=======================================*
 *======= 	TABLE OF CONTENT	 ========*
 *=======================================*

	01. Base Style
	01. Button & Input
	03. Top Bar
	04. Header
	05. Page Title
	06. body innerwrapper
	07. Page Builder Addons
	08. Module
	09. Login Form
	10. Search
	11. Blog
	12. Bottom
	13. Footer
	14. Comingsoon
	15. Error page
	16. Mixed CSS

=======================================*/
/*=========================================
 *======= 	 Start Base Style	   ============
 *=======================================*/

a {
    -webkit-transition: color 400ms, background-color 400ms;
    transition: color 400ms, background-color 400ms;
}
body {
    line-height: 24px;
}
a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
label {
    font-weight: normal;
}
legend {
    padding-bottom: 10px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*End Base Style
*=======================================*/
/*=========================================
 *======= 	 Start Button	   ============
 *=======================================*/

.btn,
.sppb-btn {
    .transition(~'color 400ms, background-color 400ms, border-color 400ms');
}
.btn,
.sppb-btn {
    border: none;
    font-size: 16px;
    color: #fff;
    border-radius: 3px;
    line-height: 40px;
    padding: 0 30px;
    text-transform: capitalize;
    box-shadow: none;
    -webkit-box-shadow: none;
    &:hover, &:focus {
      outline: none !important;
      box-shadow: none !important;
    }
}

//Offline
.offline-inner {
    margin-top: 100px;
}
//input
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	.form-control();
	border-radius: 3px;
	-webkit-box-shadow: none;
	box-shadow: none;
	height: 40px !important;
	border-color: #e6e6e6;
	&:focus{
		-webkit-box-shadow: none;
		box-shadow: none;
		outline: none;
		border-color: #90c940;
	}
}

.group-control {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    width: 100%;
  }
}
.form-links {
    margin-top: 30px;
    ul {
        list-style: none;
        padding: 0;
        margin: 0 -5px;
        text-align: center;
        >li {
            display: inline-block;
            margin: 0 5px;
        }
    }
}
/*End Button
*=======================================*/
/*=========================================
*======= 	Start  Top Bar	   ============
*=======================================*/

#sp-top-bar {
    padding: 15px 0px;
    background: #eaeff2 !important;
    a {
        color: #3a4b51;
        font-size: 14px;
        font-weight: 400;
        &:hover {
            color: @major_color;
        }
    }
    .sp-module {
        display: inline-block;
        margin: 0 0 0 20px;
    }
}
.top-menu {
  ul {
      li {
        border-bottom: none !important;
        display: inline-block !important;
        a {
          //padding: 0 10px !important;
          margin-right: 15px;
          line-height: inherit !important;
          text-transform: uppercase;
          color: #3a4b51;
          &:before {
            display: none;
          }
          &:hover, &:focus{
            color:@major_color;
            outline: none;
          }
        }
      }
		}
}
.text-align-right {
  float: right !important;
}
@media (max-width: 690px) {
  .sp-contact-info li {
    margin: 5px !important;
  }
  .top-menu ul {
    width: 100%;
    float: none !important;
    text-align: center;
    padding: 0 !important;
  }
  .top-menu ul li a {
    display: inline-block !important;
    padding: 0 !important;
    float: none !important;
  }
  .text-align-right {
    float: left !important;
    .sp-module {
      margin: 0 !important;
    }
  }
}

ul.social-icons {
    list-style: none;
    padding: 0;
    margin: -5px;
    display: inline-block;
    >li {
        display: inline-block;
        margin: 5px 7px;
        a {
            color: #999999;
        }
    }
}
// language switcher
.sp-module-content {
    .mod-languages {
        ul.lang-inline {
            margin: 0;
            padding: 0;
            li {
                border: none;
                display: inline-block;
                margin: 0 5px 0 0;
                a {
                    padding: 0 !important;
                }
                >a:before {
                    display: none;
                }
            }
        }
    }
}
.sp-contact-info {
    list-style: none;
    padding: 0;
    margin: 0 -10px;
    li {
        display: inline-block;
        margin: 0 10px;
        font-size: 90%;
        i {
            margin: 0 3px;
            font-size: 16px;
        }
    }
}
/* End  Top Bar
*=======================================*/

/*=========================================
*======= 	Start  Header	   ============
*=======================================*/
//sticky header
.sticky-wrapper{
    position: relative;
    z-index: 99;
}

#sp-header {
    background: #ffffff none repeat scroll 0 0;
    height: 80px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 99;
    .logo {
        display: inline-block;
        height: 80px;
        display: table;
        -webkit-transition: all 400ms ease;
        transition: all 400ms ease;
        margin: 0;
        a {
            font-size: 24px;
            line-height: 1;
            margin: 0;
            padding: 0;
            display: table-cell;
            vertical-align: middle;
        }
        p {
            margin: 5px 0 0;
        }
    }
    .sp-retina-logo {
        display: none;
    }
    &.menu-fixed{
        position: fixed;
        z-index: 9999;
    }
}

.sticky-wrapper.is-sticky {
    position: relative;
    z-index: 999;
}

@media only screen and (min-width: 1200px){
	.layout-boxed #sp-header {
		width: 1240px !important;
	}
}
.sp-contact-info li i {
    color: #3a4b51;
}

.menu-button-wrap {
    float: right;
}
.search-property {
  border-radius: 3px;
  color: #1bb5ec;
  font: 500 14px/40px "Roboto", sans-serif;
  text-transform: uppercase;
  width: 217px;
  transition: all 300ms linear 0s;
  border: 1px solid @major_color;
  position: relative;
  display: inline-block;
  text-align: left;
  padding-left: 32px;
  margin-top: 20px;
  color: #ffffff !important;
  background: @major_color;
}
.search-property i {
  font-size: 16px;
  position: absolute;
  top: 10px;
  margin-left: 7px;
  transition: all 300ms linear 0s;
  transform: translateZ(0);
  transition-property: transform;
}
.search-property:hover,
.search-property:focus {
  background: #ffc949;
  border: 1px solid #ffc949;
  outline: none;
  color: #ffffff;
}
.search-property:hover i,
.search-property:focus i {
  transform: translateX(6px);
}

/* End  Header
*=======================================*/
/*=========================================
*======= 	Start  Page Title   ============
*=======================================*/

#sp-title {
    min-height: 0;
}
.sp-page-title {
    padding: 30px 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    text-transform: uppercase;
    h2, h3 {
        margin: 0;
        padding: 0;
        color: #fff;
    }
    h2 {
        font-size: 24px;
        line-height: 1;
    }
    h3 {
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        margin-top: 10px;
    }
    .breadcrumb {
        background: none;
        padding: 0;
        margin: 10px 0 0 0;
        >.active {
            color: rgba(255, 255, 255, 0.8);
        }
        >span,
        >li,
        >li+li:before,
        >li>a {
            color: #fff;
        }
    }
}
/* Start  Page Title
*=======================================*/
/* ***********   START body innerwrapper   ************ */
/* **************************************************** */
.body-innerwrapper{
    overflow-x: hidden;
}
.layout-boxed .body-innerwrapper {
    max-width: 1240px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#sp-main-body {
    padding: 40px 0;
}

.com-sppagebuilder #sp-main-body {
    padding: 0;
}

/* ************   END:: body innerwrapper  ************ */
/* **************************************************** */
/*=========================================
 *===  Start Page Builder Addons	 =====
 *=======================================*/

.sppb-addon-cta {
    .sppb-cta-subtitle {
        margin-bottom: 0;
        line-height: 26px !important;
    }
    .sppb-btn-lg {
        margin-top: 30px;
    }
}
//Image content addon
.sppb-addon-image-content {
    position: relative;
    .sppb-image-holder {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background-position: 50%;
        background-size: cover;
    }
    &.aligment-left {
        .sppb-image-holder {
            left: 0;
        }
        .sppb-content-holder {
            padding: 120px 0 120px 50px;
        }
    }
    &.aligment-right {
        .sppb-image-holder {
            right: 0;
        }
        .sppb-content-holder {
            padding: 120px 50px 120px 0;
        }
    }
}
@media (max-width: @screen-sm-min) {
    .sppb-addon-image-content {
        .sppb-image-holder {
            position: inherit;
            width: 100% !important;
            height: 300px;
        }
    }
}
/* End Page Builder Addons
 *=======================================*/
/*=========================================
*======= 	Start  Module	   ============
*=======================================*/

.sp-module {
    margin-top: 50px;
    &:first-child {
        margin-top: 0;
    }
    .sp-module-title {
        margin: 0 0 20px;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1;
    }
    //Un-ordered List
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        >li {
            display: block;
            border-bottom: 1px solid #e8e8e8;
            -webkit-transition: 300ms;
            transition: 300ms;
            >a {
                display: block;
                padding: 5px 0;
                line-height: 36px;
                padding: 2px 0;
                -webkit-transition: 300ms;
                transition: 300ms;
                &:hover {
                    background: none;
                }
                &:before {
                    font-family: FontAwesome;
                    content: "\f105";
                    margin-right: 8px;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }
    //List category
    .categories-module {
        ul {
            margin: 0 10px;
        }
    }
    //Latest News
    .latestnews {
        >div {
            padding-bottom: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid #e8e8e8;
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
                border-bottom: 0;
            }
            >a {
                display: block;
                font-weight: 400;
            }
        }
    }
    //Tags Cloud
    .tagscloud {
        margin: -2px 0;
        .tag-name {
            display: inline-block;
            padding: 5px 10px;
            background: #808080;
            color: #fff;
            border-radius: 4px;
            margin: 2px 0;
            span {
                display: inline-block;
                min-width: 10px;
                padding: 3px 7px;
                font-size: 12px;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 10px;
            }
        }
    }
}
/* End  Module
*=======================================*/
/*=========================================
*======= 	Start  Login Form	 =========
*=======================================*/

.view-profile #sp-main-body,
.view-registration #sp-main-body,
.view-login #sp-main-body {
  padding: 110px 0 110px;
}

.view-profile #sp-main-body .alert,
.view-registration #sp-main-body .alert,
.view-login #sp-main-body .alert {
  margin-bottom: 80px;
}
.view-profile #sp-main-body .alert.alert-error,
.view-registration #sp-main-body .alert.alert-error,
.view-login #sp-main-body .alert.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.view-profile #sp-main-body .alert.alert-message,
.view-registration #sp-main-body .alert.alert-message,
.view-login #sp-main-body .alert.alert-message {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.com-users .reg-login-form-wrap {
  background: #f6f7f9;
  position: relative;
  padding: 45px;
}

.com-users .reg-login-form-wrap .form-validate input {
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  padding: 0 0 0 20px;
  background: #fff;
}
.com-users .reg-login-form-wrap .registration,
.com-users .reg-login-form-wrap .login {
  margin-bottom: 45px;
}
.com-users .reg-login-form-wrap .registration .form-group,
.com-users .reg-login-form-wrap .login .form-group {
  margin-bottom: 24px;
  text-align: left;
}
.com-users .reg-login-form-wrap .registration .form-group .btn-primary.btn-block,
.com-users .reg-login-form-wrap .login .form-group .btn-primary.btn-block {
  display: inline-block;
  width: auto;
  margin-top: 15px;
  border-color: @major_color;
}
.com-users .reg-login-form-wrap .registration .form-group p,
.com-users .reg-login-form-wrap .login .form-group p {
  color: #000;
  font-weight: 600;
}
.com-users .reg-login-form-wrap .registration {
  margin-bottom: 0;
}
.com-users .reg-login-form-wrap .registration >p {
  margin-bottom: 0;
  text-align: left;
}
.com-users .reg-login-form-wrap .registration .form-validate .form-group .btn.btn-primary {
  margin-top: 20px;
  margin-bottom: 22px;
  border-color: @major_color;
}
.com-users .reg-login-form-wrap .form-links {
  text-align: left;
}
.com-users.view-login .logout {
  text-align: center;
  padding: 100px 0;
  background-color: #fff;
}
.com-users.view-login .logout .btn.btn-primary {
  background-color: @major_color;
  border: none;
}
.com-users.view-login .logout .btn.btn-primary:hover,
.com-users.view-login .logout .btn.btn-primary:focus {
  color: #fff;
}
.reset .form-validate .form-group button {
  border-color: @major_color;
}

.login {
    img {
        display: inline-block;
        margin: 20px 0;
    }
    .checkbox {
        input[type="checkbox"] {
            margin-top: 6px;
        }
    }
}
.form-links {
    ul {
        list-style: none;
        padding: 0;
    }
}
/* End  Login Form
*=======================================*/
/*=========================================
*======= 	Start  Search	   ============
*=======================================*/

.search {
    .btn-toolbar {
        margin-bottom: 20px;
        span.icon-search {
            margin: 0;
        }
        button {
            color: #fff;
        }
    }
    .phrases {
        .phrases-box {
            .controls {
                label {
                    display: inline-block;
                    margin: 0 20px 20px;
                }
            }
        }
        .ordering-box {
            margin-bottom: 15px;
        }
    }
    .only {
        label {
            display: inline-block;
            margin: 0 20px 20px;
        }
    }
    .search-results {
        dt.result-title {
            margin-top: 40px;
        }
        dt,
        dd {
            margin: 5px 0;
        }
    }
}
.filter-search {
    .chzn-container-single {
        .chzn-single {
            height: 34px;
            line-height: 34px;
        }
    }
}
.form-search {
    .finder {
        label {
            display: block;
        }
        .input-medium {
            width: 60%;
            border-radius: 4px;
        }
    }
}
.finder {
    .word {
        input {
            display: inline-block;
        }
    }
    .search-results.list-striped {
        li {
            padding: 20px 0;
        }
    }
}
/* End  Search
*=======================================*/
/*=========================================
*======= 	Start  Blog	   ============
*=======================================*/
#kunena.layout .kfrontend .section {
    margin-bottom: 20px;
    display: inherit;
}
.icons {
  a.btn.dropdown-toggle {
    z-index: 99;
    box-shadow: none;
    color: @major_color;
}
}
#sppostformats .btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
#sppostformats .btn-success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.article-info {
    margin: 0 -8px 5px;
    line-height: 12px;
    >dd {
        display: inline-block;
        font-size: 13px;
        color: #617279;
        margin: 0 8px;
        >i {
            display: inline-block;
            margin-right: 3px;
        }
    }
}
article {
    &.item {
        margin-bottom: 50px;
    }
}
.tags {
    margin-top: 20px;
    >span {
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}
//Article Voting
.content_rating,
.content_rating + form {
    display: none;
}
.voting-symbol {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 14px;
    display: inline-block;
    span.star {
        font-family: "FontAwesome";
        font-weight: normal;
        font-style: normal;
        display: inline-block;
        &.active:before {
            content: "\f005";
        }
        &:before {
            content: "\f006";
            padding-right: 5px;
        }
    }
}
.sp-rating {
    span.star:hover:before, span.star:hover ~ span.star:before {
        content: "\f005";
        cursor: pointer;
    }
}
.post_rating {
    margin-bottom: 20px;
    .ajax-loader, .voting-result {
        display: none;
    }
}
.post-format {
    position: absolute;
    top: 0;
    left: -68px;
    display: block;
    width: 48px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}
.entry-image,
.entry-gallery,
.entry-video,
.entry-audio,
.entry-link {
    margin-bottom: 30px;
}
.entry-status,
.entry-quote {
    margin-bottom: 50px;
}
.entry-header {
    position: relative;
    margin-bottom: 30px;
    &.has-post-format {
        margin-left: 68px;
    }
    h2 {
        margin: 8px 0 0;
        font-size: 24px;
        line-height: 1;
        a {
          color: #617279;
          font-weight: 500;
          font-size: 20px;
          text-transform: capitalize;
        }
    }
}
.entry-link {
    padding: 100px 50px;
    position: relative;
    z-index: 1;
    a {
        h4 {
            margin: 0;
            font-size: 36px;
            color: #fff;
            &:hover {
                color: rgba(255, 255, 255, 0.85);
            }
        }
    }
    &:before {
        position: absolute;
        left: -60px;
        font-size: 300px;
        content: "\f0c1";
        font-family: FontAwesome;
        transform: rotate(90deg);
        top: -75px;
        color: rgba(255, 255, 255, 0.15);
        z-index: -1;
    }
}
.entry-quote {
    position: relative;
    padding: 80px 50px;
    color: rgba(255, 255, 255, 0.9);
    &:before {
        position: absolute;
        left: -40px;
        font-size: 300px;
        content: "\f10e";
        font-family: FontAwesome;
        transform: rotate(15deg);
        top: -75px;
        color: rgba(255, 255, 255, 0.15);
    }
    blockquote small {
        color: #FFF;
        font-weight: 600;
        font-size: 20px;
    }
    blockquote {
        padding: 0;
        margin: 0;
        font-size: 16px;
        border: none;
    }
}
.carousel-left,
.carousel-right {
    position: absolute;
    top: 50%;
    font-size: 24px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    margin-top: -18px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    -webkit-transition: 400ms;
    transition: 400ms;
    &:hover {
        color: #fff;
    }
    &:focus {
        color: #fff;
    }
}
.carousel-left {
    left: 10px;
}
.carousel-right {
    right: 10px;
}
.newsfeed-category {
    .category {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            padding: 5px 0;
        }
    }
    #filter-search {
        margin: 10px 0;
    }
}
.category-module,
.categories-module,
.archive-module,
.latestnews,
.newsflash-horiz,
.mostread,
.list-striped {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: 2px 0;
        h4 {
            margin: 5px 0;
        }
    }
}
.form-links {
    list-style: none;
    padding: 0;
    li {
        padding: 2px 0;
        h4 {
            margin: 5px 0;
        }
    }
}

//Social and rating
.article-footer-top{
    display: table;
    clear: both;
    width: 100%;
    .post_rating{
        float: left;
    }
}

.helix-social-share{
    float: right;
    .helix-social-share-icon{
        ul{
            padding: 0;
            list-style: none;
            margin: 0;
            li{
                margin-right: 7px;
                display: inline-block;
                div{
                    display: block;
                    a{
                        background: #f5f5f5 none repeat scroll 0 0;
                        border-radius: 50%;
                        height: 30px;
                        padding-top: 4px;
                        text-align: center;
                        width: 30px;
                        display: inline-block;
                        &:hover,
                            &:focus{
                            background: @major_color;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

/* End  Blog
 *=======================================*/
/*=========================================
*======= 	Start  Bottom	   ============
*=======================================*/

#sp-bottom {
    background: #14679c !important;
    .sp-module {
        .sp-module-title {
          color: #79bbe5;
          font: 500 16px "Roboto",sans-serif;
          border-bottom: 1px solid #2c76a6;
          text-transform: uppercase;
          padding: 0px 0 20px;
        }
    }
  .tagspopular ul >li {
      display: inline-block;
    }
  .tagspopular ul >li >a {
   background-color: rgba(255,255,255,0);
   border-radius: 3px;
   color: #79bbe5;
   font: 400 12px/24px "Roboto",sans-serif;
   border: 1px solid #2c76a6;
   padding: 5px 10px;
   margin: 4px;
   text-transform: uppercase;
   clear: both;
   display: inline-block;
}
}
.about {
  img {
    max-width: 100%;
    padding-top: 17px;
  }
  p {
    color: #79bbe5;
    font: 14px/24px "Roboto",sans-serif;
    padding-top: 30px;
  }
}

/* End  Bottom
 *=======================================*/
/*=========================================
*======= 	Start  Footer	   ============
*=======================================*/

#sp-footer {
    background: #116093 !important;
    color: #79bbe5;
    font: 400 14px "Roboto",sans-serif;
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;
    a {
        color: @major_color;
        &:hover {
            color: #666;
        }
    }
}
#sp-footer-wrapper {
    ul {
        display: inline-block;
        &.nav {
            display: inline-block;
            list-style: none;
            padding: 0;
            margin: 0 5px;
            li {
                display: inline-block;
                margin: 0 5px;
                a {
                    display: block;
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
    .helix-framework {
        display: inline-block;
        .helix-logo {
            display: block;
            width: 130px;
            height: 40px;
            text-indent: -9999px;
            background: url(../images/helix-logo-white.png) no-repeat 0 0;
        }
    }
    .copyright {
        display: block;
    }
}
/* End  Footer
 *=======================================*/
/*=========================================
/* ***************   START Comingsoon   *************** */
/* **************************************************** */

.sp-comingsoon {
    width: 100%;
    height: 100%;
    min-height: 100%;
    body {
        width: 100%;
        height: 100%;
        min-height: 100%;
        color: #fff;
    }
    ul.social-icons {
      float: none;
    }
    #sp-comingsoon{
        padding: 100px 0;
    }
    .sp-comingsoon-wrap.has-background{
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        position: relative;
        &:before {
          left: 0;
          top: 0;
          position: absolute;
          width: 100%;
          height: 100%;
          content: "";
          background: rgb(48, 49, 51);
          opacity: .95;
          filter: alpha(opacity=95);
        }
        .container {
          position: relative;
          z-index: 9999;
        }
    }
    .comingsoon-page-logo{
        text-align: center;
        img{
            display: inline-block;
        }
        .sp-retina-logo{
            display: none;
        }
    }
    .sp-comingsoon-title {
        margin-top: 130px;
        font-size: 42px;
        margin-bottom: 10px;
        font-weight: 700;
        color: #fff;
    }
    .sp-comingsoon-content {
        font-size: 28px;
        font-weight: 300;
    }
    .days, .hours, .minutes, .seconds {
        display: inline-block;
        margin: 80px 15px;
    }
    .days .number, .hours .number, .seconds .number, .minutes .number {
      height: 120px;
      line-height: 120px;
      border: 1px solid #fff;
      display: inline-block;
      font-size: 48px;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 40px;
      color: #fff;
      width: 120px;
      border: none !important;
      letter-spacing: -1px;
      border-radius: 3px 3px 0 0;
    }
    .days .string, .minutes .string, .seconds .string, .hours .string {
        display: block;
        background-color: #fff;
        color: #666;
        width: 120px;
        border: none !important;
        letter-spacing: -1px;
        border-radius: 0;
        margin-top: -10px !important;
    }
    .social-icons li {
        display: inline-block;
        margin: 0 15px;
        a {
            color: rgba(255, 255, 255, 0.7);
            font-size: 24px;
            background: rgba(0,0,0,0);
            -webkit-transition: color 400ms;
            transition: color 400ms;
            &:hover {
                color: #fff;
            }
        }
    }
}

/* ***************   END:: Comingsoon  **************** */
/* **************************************************** */


/* **************   START Error Page   **************** */
/* **************************************************** */

.error-page {
    width: 100%;
    height: 100%;
    min-height: 100%;
    body {
        width: 100%;
        height: 100%;
        min-height: 100%;
    }
    .error-page-inner {
        &.has-background{
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .error-logo-wrap{
            text-align: center;
            margin-bottom: 30px;
            img{
                display: inline-block;
            }
        }
        height: 100%;
        min-height: 100%;
        width: 100%;
        display: table;
        text-align: center;
        >div {
            display: table-cell;
            vertical-align: middle;
        }
    }
    .fa-exclamation-triangle {
        font-size: 64px;
        line-height: 1;
        margin-bottom: 10px;
    }
    .error-code {
        font-weight: bold;
        font-size: 96px;
        line-height: 1;
        margin: 0 0 10px 0;
        padding: 0;
    }
    .error-message {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 30px;
    }
}

/* ***************   END:: Error Page   *************** */
/* **************************************************** */

//Ratina Logo
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    #sp-header {
        .sp-default-logo {
            display: none;
        }
        .sp-retina-logo {
            display: block;
        }
    }
    .sp-comingsoon {
        .comingsoon-page-logo{
            .sp-retina-logo{
                display: table;
                margin: 0 auto;
            }
            .sp-default-logo{
                display: none;
            }
        }
    }
}
/*=========================================
*======= 	Start  Mixed CSS   ==========
*=======================================*/

.sp-social-share {
    ul {
        display: block;
        padding: 0;
        margin: 20px -5px 0;
        li {
            display: inline-block;
            font-size: 24px;
            margin: 0 5px;
        }
    }
}
// profile
.dl-horizontal {
    dt {
        margin: 8px 0;
        text-align: left;
    }
}
// page-header
.page-header {
    padding-bottom: 15px;
}
// featured contact
table.category {
    width: 100%;
    thead, tbody {
        >tr {
            border: 1px solid #f2f2f2;
            th, td {
                padding: 10px;
            }
        }
    }
}
//contact from
.contact-form {
    .form-actions {
        background: none;
        border: none;
    }
}
@media print {
    .visible-print {
        display: inherit !important;
    }
    .hidden-print {
        display: none !important;
    }
}
// sp portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
    background: #2D2D2D;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: 300ms;
    transition: 300ms;
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-btns a {
    border-radius: 0;
}

//contact from
.contact-form {
    .form-actions {
        background: none;
        border: none;
    }
}
@media print {
    .visible-print {
        display: inherit !important;
    }
    .hidden-print {
        display: none !important;
    }
}
// sp portfolio
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #dcdfe0;
    color: #acb4b6;
    .transition(.3s);
    padding: 10px 20px;
}
// sp portfolio
.sp-simpleportfolio {
    .sp-simpleportfolio-item {
        .sp-simpleportfolio-overlay {
            padding: 30px !important;
        }
        .sp-simpleportfolio-info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            background-color: transparent;
            z-index: 5;
            color: #fff;
            &:hover {
                background-color: transparent;
            }
        }
        .sp-simpleportfolio-title {
            /*font-size: 24px !important;*/

            line-height: 35px !important;
            /*font-weight: 700 !important;*/

            margin-bottom: 10px !important;
            .transition(.3s);
            opacity: 0;
            .translate3d(0, 50px, 0) !important;
            .transition-delay(.15s) !important;
            a {
                color: #fff !important;
                .transition(.3s);
                &:hover {
                    opacity: .8;
                }
            }
        }
        .sp-simpleportfolio-tags {
            text-transform: uppercase;
            /*font-size: 16px;
			      font-weight: 700;*/

            .transition(.5s);
            opacity: 0;
            .translate3d(0, 50px, 0) !important;
        }
        &:hover {
            .sp-simpleportfolio-title, .sp-simpleportfolio-tags {
                .translate3d(0, 0, 0) !important;
                opacity: 1;
            }
            .sp-simpleportfolio-tags {
                .transition-delay(.30s) !important;
            }
        }
    }
}
.sp-simpleportfolio .sp-simpleportfolio-item .sp-vertical-middle {
    height: 100%;
    width: 100%;
    background: rgba(40, 40, 46, 0.9) !important;
    display: table;
}
.sppb-addon-cta .sppb-row {
    display: table;
    width: 100%;
}
//Remove margin CTA Section
.cta-download {
    margin-top: 0 !important;
}

//Testimonial section

.sppb-testimonial-message:before {
    position: absolute;
    content: "\f10d";
    font-family: fontAwesome;
    top: 10px;
    left: 20px;
    color: rgba(50, 50, 50, 0.2);
    font-size: 40px;
    width: 50px;
    height: 50px;
    line-height: 97px;
    transition: all 100ms ease-out;
}
.sppb-testimonial-pro .sppb-carousel-control {
    position: relative;
    margin: 1px 0 0 0;
    width: 50px;
    height: 50px;
    border: none;
    font-size: 22px;
    color: #ffffff;
    line-height: 50px;
    text-align: center;
    background-color: @major_color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 1px;
    outline: none;
    transition: all 100ms ease-out;
}
.sppb-testimonial-pro .sppb-testimonial-message {
    font-size: 18px;
    line-height: 26px;
    position: relative;
    margin: 30px 0;
    padding: 40px 40px 40px 90px;
    font-size: 16px;
    line-height: 2;
    background-color: rgba(40, 40, 46, 0.9) !important;
    color: #ccc;
    border-radius: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.pro-client-name {
    color: #acb4b6;
    font-weight: 300;
    text-transform: uppercase;
}

#sp-quickcontact-form input[type="text"],
#sp-quickcontact-form input[type="password"],
#sp-quickcontact-form input[type="email"],
#sp-quickcontact-form textarea#message {
    width: 100%;
}
#sp-page-title {
    background: transparent url("../images/banner.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    &:after {
    content: "";
    position: absolute;
    background-color: rgba(92,102,109,0.88);
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    z-index: -1;
      }
}
.sp-page-title .breadcrumb >span, .sp-page-title .breadcrumb >li, .sp-page-title .breadcrumb >li+li:before, .sp-page-title .breadcrumb >li>a {
    color: #fff;
    color: #aeb9c3;
    font-size: 14px;
    line-height: 1.42857143;
}
//BLog section
.layout-blog {
    background-color: #f4f5f9;
    #sp-main-body {
        article.item {
            margin-bottom: 50px;
            overflow: hidden;
            margin: 0 0 40px 0;
            background: #fff;
            .article-info {
                margin: 0 -8px 5px;
                line-height: 12px;
            }
            .post-format {
                background: @major_color;
                border-radius: 0;
            }
            .article-info >dd {
                font-weight: 600;
            }
        }
        .blog p {
            position: relative;
            z-index: 15;
            padding: 10px 20px;
        }
    }
    //Module styles
    .sp-module .latestnews >div >a {
        padding: 10px;
    }
    .latestnews small {
        display: none;
    }
    .class2 .sp-module .sp-module-title {
        text-transform: uppercase;
        padding: 15px;
        color: #fff;
        background: #444;
        border-left: 6px solid @major_color;
    }
    .class2 .sp-module-content {
        padding: 10px;
        background: #fff;
        border: 1px solid #dddddd;
    }
}
.layout-blog, .view-article {
  .tags {
      margin-top: 20px;
      padding: 0 20px;
      margin-bottom: 20px;
      a {
      background: #f4f5f9;
      color: #999;
      padding: 5px 15px;
      border-radius: 2px;
      &:hover, &:focus {
        outline: none;
        background: fadeout(@major_color, 40%);;
        color: #fff;
      }
  }
  }
}
input#mod-search-searchword {
    width: 100%;
}
.view-article #sp-main-body {
    background-color: #f4f5f9;
    .item.item-page {
        margin-bottom: 50px;
        overflow: hidden;
        margin: 0 0 40px 0;
        background: #fff;
        padding: 20px;
    }
}
#sp-bottom .sp-module ul >li >a:before {
    display: none !important
}
#sp-bottom .sp-module ul >li >a {
    line-height: 25px !important;
    color: #79bbe5;
}
#sp-bottom .sp-module ul >li {
    border-bottom: none;
}
#bg-overlay:before {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(32, 32, 32, 0.8);
}
#bg-overlay {
    position: relative;
}

.pager .previous>a,
.pager .previous>span {
    float: left;
    text-transform: uppercase;
}
.pager li>a,
.pager li>span {
    border-radius: 0;
    background: @major_color;
    color: #fff;
}
.pager li>a:hover,
.pager li>a:focus,
.pager li>a:active {
    background: darken(@major_color, 10%);
    color: #fff;
}

.sppb-addon-tab .sppb-nav-tabs {
    border-bottom: solid 1px #e9eaed;
}
.sppb-addon-tab .sppb-nav-tabs li {
    margin-right: 30px;
    margin-bottom: 0;
}
.sppb-addon-tab .sppb-nav-tabs li > a {
    font-size: 16px;
    font-weight: 500;
    padding: 0 0 15px 0;
    color: #a8a8a8;
    border: 0;
    border-radius: 0;
}
.sppb-addon-tab .sppb-nav-tabs li > a:hover,
.sppb-addon-tab .sppb-nav-tabs li > a:focus {
    background-color: transparent;
    border: none;
    outline: none;
}
.sppb-addon-tab .sppb-nav-tabs li.active > a {
    color: @major_color;
}
.sppb-addon-tab .sppb-tab-pane {
    padding: 20px 0;
}
.sppb-addon-tab .sppb-tab-pane >div {
    margin-bottom: 40px;
}
.sppb-addon-tab .sppb-tab-pane >div p {
    padding-right: 20px;
    float: left;
    color: #a8a8a8;
}
.sppb-addon-tab .sppb-nav-tabs li > a {
    display: inline-block;
    padding: 5px 0;
    position: relative;
    margin-right: 40px;
    cursor: pointer;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.tab-content .content-image img {
    width: 100%;
    padding: 15px;
}
.tab-content .content-detail .separator {
    margin: 40px 0 0 0;
}
.tab-content .content-detail .separator:first-child {
    margin: 30px 0 0 0;
}
.tab-content .content-detail .title {
    text-align: left;
}
.tab-content .content-detail .nav {
    padding-left: 40px;
    margin-top: 15px;
}
.tab-content .content-detail .nav li {
    margin-bottom: 10px;
    text-align: left;
}
.tab-content .content-detail .nav li:after {
    content: "\f05d";
    font-family: 'FontAwesome';
    font-size: 18px;
    position: absolute;
    left: -40px;
    color: @major_color;
    top: -1px;
}

#sp-bottom #sp-bottom1, #sp-bottom #sp-bottom2, #sp-bottom #sp-bottom3, #sp-bottom #sp-bottom4 {
    margin-bottom: 40px;
}
.class2 .sp-module .sp-module-title {
    text-transform: uppercase;
    padding: 15px;
    color: #fff;
    background: #444;
    border-left: 6px solid #007cb9;
}


/* ****************   START Common   ****************** */
/* **************************************************** */

// go to top
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 62px;
    right: 100px;
    display: none;
    z-index: 999;
    border: 1px solid #ddd;
    background-color: rgba(255,255,255,.4);
    &:hover{
        background-color: darken(#ddd, 10%);
    }
    &:before{
        content: " \f106";
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 3px;
        width: 40px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        color: #000;
    }
}

/* *****************   END:: Common  ****************** */
/* **********   START Helix 1.4 Loader Css  *********** */
/* **************************************************** */

/* ************   START Pre-Loader CSS   ************** */
/* **************************************************** */

.sp-pre-loader {
    background: @preloader_bg;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;

    // Clock loader
    .sp-loader-clock {
        border: 3px solid @preloader_tx;
        border-radius: 60px;
        bottom: 0;
        height: 80px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        &:after{
            content: "";
            position: absolute;
            background-color: @preloader_tx;
            top:2px;
            left: 48%;
            height: 38px;
            width: 4px;
            border-radius: 5px;
            -webkit-transform-origin: 50% 97%;
            transform-origin: 50% 97%;
            -webkit-animation: grdAiguille 2s linear infinite;
            animation: grdAiguille 2s linear infinite;
        }

        &:before{
            content: "";
            position: absolute;
            background-color: @preloader_tx;
            top:6px;
            left: 48%;
            height: 35px;
            width: 4px;
            border-radius: 5px;
            -webkit-transform-origin: 50% 94%;
            transform-origin: 50% 94%;
            -webkit-animation: ptAiguille 12s linear infinite;
            animation: ptAiguille 12s linear infinite;
        }
    }
    // Circle Loader
    .sp-loader-circle{
        position: absolute;
        height: 80px;
        width: 80px;
        border-radius: 80px;
        border: 3px solid fade(@preloader_tx, 70%);
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-animation: loader1 3s linear infinite;
        animation: loader1 3s linear infinite;
        &:after{
            content: "";
            position: absolute;
            top: -5px;
            left: 20px;
            width: 11px;
            height: 11px;
            border-radius: 10px;
            background-color: @preloader_tx;
        }
    }
    // Bubble Loop Loader
    .sp-loader-bubble-loop{
        position: absolute;
        width: 12px;
        height: 12px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border-radius: 12px;
        background-color: @preloader_tx;
        -webkit-transform-origin:  50% 50%;
        transform-origin:  50% 50% ;
        -webkit-animation: loader6 1s ease-in-out infinite;
        animation: loader6 1s ease-in-out infinite;
        &:before{
            content: "";
            position: absolute;
            background-color: fade(@preloader_tx, 50%);
            top: 0px;
            left: -25px;
            height: 12px;
            width: 12px;
            border-radius: 12px;
        }
        &:after{
            content: "";
            position: absolute;
            background-color: fade(@preloader_tx, 50%);
            top: 0px;
            left: 25px;
            height: 12px;
            width: 12px;
            border-radius: 12px;
        }
    }
    // Circle  Loader Two
    .circle-two {
        bottom: 0;
        height: 100px;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
    }
    .circle-two > span,
    .circle-two > span:before,
    .circle-two > span:after {
        content: "";
        display: block;
        border-radius: 50%;
        border: 2px solid @preloader_tx;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .circle-two > span {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-left-color: transparent;
        -webkit-animation: effect-2 2s infinite linear;
        -moz-animation: effect-2 2s infinite linear;
        -ms-animation: effect-2 2s infinite linear;
        -o-animation: effect-2 2s infinite linear;
        animation: effect-2 2s infinite linear;
    }
    .circle-two > span:before {
        width: 75%;
        height: 75%;
        border-right-color: transparent;
    }
    .circle-two > span:after {
        width: 50%;
        height: 50%;
        border-bottom-color: transparent;
    }

    // Audio Wave 2 Loader
    .wave-two-wrap{
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 50%;
        width: 90px;
    }
    .wave-two {
        margin: 0;
        list-style: none;
        width: 90px;
        position: relative;
        padding: 0;
        height: 10px;
    }
    .wave-two li {
        position: absolute;
        width: 2px;
        height: 0;
        background-color: @preloader_tx;
        bottom: 0;
    }

    .wave-two li:nth-child(1) {
        left: 0;
        -webkit-animation: sequence1 1s ease infinite 0;
        animation: sequence1 1s ease infinite 0;
    }
    .wave-two li:nth-child(2) {
        left: 15px;
        -webkit-animation: sequence2 1s ease infinite 0.1s;
        animation: sequence2 1s ease infinite 0.1s;
    }
    .wave-two li:nth-child(3) {
        left: 30px;
        -webkit-animation: sequence1 1s ease-in-out infinite 0.2s;
        animation: sequence1 1s ease-in-out infinite 0.2s;
    }
    .wave-two li:nth-child(4) {
        left: 45px;
        -webkit-animation: sequence2 1s ease-in infinite 0.3s;
        animation: sequence2 1s ease-in infinite 0.3s;
    }
    .wave-two li:nth-child(5) {
        left: 60px;
        -webkit-animation: sequence1 1s ease-in-out infinite 0.4s;
        animation: sequence1 1s ease-in-out infinite 0.4s;
    }
    .wave-two li:nth-child(6) {
        left: 75px;
        -webkit-animation: sequence2 1s ease infinite 0.5s;
        animation: sequence2 1s ease infinite 0.5s;
    }

    // Audio Wave Loader
    .sp-loader-audio-wave {
        width: 3em;
        height: 2em;
        background: linear-gradient(@preloader_tx, @preloader_tx) 0 50%, linear-gradient(@preloader_tx, @preloader_tx) 0.625em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.25em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.875em 50%, linear-gradient(@preloader_tx, @preloader_tx) 2.5em 50%;
        background-repeat: no-repeat;
        background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
        animation: audioWave 1.5s linear infinite;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    // Loader With Logo
    .sp-loader-with-logo{
        top: 0;
        left: 0;
        width: 100%;
        height: 105px;
        right: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        position: absolute;
        .logo{
            display: inline-block;
            width: auto;
        }
        .line{
            background: @preloader_tx;
            bottom: 0;
            height: 5px;
            left: 0;
            position: absolute;
            top: auto;
        }
    }
}

/* *************   END:: Pre-Loader CSS   ************* */
/* **************************************************** */

/* ************   START Loader Animation   ************ */
/* **************************************************** */

// Clock Loader Animation
@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}
@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

// Circle Loader Animation
@-webkit-keyframes loader1{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes loader1{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

// Bubble Loop Loader Animation
@-webkit-keyframes loader6{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}
@keyframes loader6{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}

// Ring Loader Animation
@keyframes rotate-360 {
    from {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// Audio Wave Loader Animation
@keyframes audioWave {
    25% {
        background: linear-gradient(@preloader_tx, @preloader_tx) 0 50%, linear-gradient(@preloader_tx, @preloader_tx) 0.625em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.25em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.875em 50%, linear-gradient(@preloader_tx, @preloader_tx) 2.5em 50%;
        background-repeat: no-repeat;
        background-size: 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
    }
    37.5% {
        background: linear-gradient(@preloader_tx, @preloader_tx) 0 50%, linear-gradient(@preloader_tx, @preloader_tx) 0.625em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.25em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.875em 50%, linear-gradient(@preloader_tx, @preloader_tx) 2.5em 50%;
        background-repeat: no-repeat;
        background-size: 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em;
    }
    50% {
        background: linear-gradient(@preloader_tx, @preloader_tx) 0 50%, linear-gradient(@preloader_tx, @preloader_tx) 0.625em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.25em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.875em 50%, linear-gradient(@preloader_tx, @preloader_tx) 2.5em 50%;
        background-repeat: no-repeat;
        background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em, 0.5em 0.25em;
    }
    62.5% {
        background: linear-gradient(@preloader_tx, @preloader_tx) 0 50%, linear-gradient(@preloader_tx, @preloader_tx) 0.625em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.25em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.875em 50%, linear-gradient(@preloader_tx, @preloader_tx) 2.5em 50%;
        background-repeat: no-repeat;
        background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em, 0.5em 0.25em;
    }
    75% {
        background: linear-gradient(@preloader_tx, @preloader_tx) 0 50%, linear-gradient(@preloader_tx, @preloader_tx) 0.625em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.25em 50%, linear-gradient(@preloader_tx, @preloader_tx) 1.875em 50%, linear-gradient(@preloader_tx, @preloader_tx) 2.5em 50%;
        background-repeat: no-repeat;
        background-size: 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 0.25em, 0.5em 2em;
    }
}

// Circle 2 Loader Animation
@-webkit-keyframes effect-2 {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes effect-2 {
    from {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

// Audio Wave Loader 2 animation
@keyframes sequence1 {
    0% {
        height: 10px;
    }
    50% {
        height: 50px;
    }
    100% {
        height: 10px;
    }
}
@keyframes sequence2 {
    0% {
        height: 20px;
    }
    50% {
        height: 65px;
    }
    100% {
        height: 20px;
    }
}

@keyframes rot1 {
    100% {
        transform: skew(-10deg) translateX(50px) rotate(405deg);
    }
}
@-webkit-keyframes rot1 {
    100% {
        -webkit-transform: skew(-10deg) translateX(50px) rotate(405deg);
    }
}
@keyframes rot2 {
    100% {
        transform: skew(-10deg) rotate(525deg);
    }
}
@-webkit-keyframes rot2 {
    100% {
        -webkit-transform: skew(-10deg) rotate(525deg);
    }
}
@keyframes rot3 {
    100% {
        transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(645deg);
    }
}
@-webkit-keyframes rot3 {
    100% {
        -webkit-transform: skew(-10deg) translateX(20px) translateY(-50px) rotate(645deg);
    }
}

@keyframes width {
    10% {
        width: 10%;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

/* ***********   END:: Loader Animation   ************* */
/* **************************************************** */

/* **********   END:: Helix 1.4 Loader Css   ********** */
/* **************************************************** */

/* ************ START Animations Header *************** */
/* **************************************************** */

.animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}

@-webkit-keyframes fadeInDown{
    from{
        opacity:0;
        -webkit-transform:translate3d(0,-50%,0);
        transform:translate3d(0,-50%,0);
    }
    to{
        opacity:1;
        -webkit-transform:none;
        transform:none;
    }
}
@keyframes fadeInDown{
    from{
        opacity:0;
        -webkit-transform:translate3d(0,-50%,0);
        transform:translate3d(0,-50%,0);
    }
    to{
        opacity:1;
        -webkit-transform:none;
        transform:none;
    }
}
.fadeInDown{
    -webkit-animation-name:fadeInDown;
    animation-name:fadeInDown;
}

//fadeinUp
@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

/* ************ END:: Animations Header *************** */
/* **************************************************** */

/* *********   START Responsive Media Query   ********* */
/* **************************************************** */
//Tablet
@media screen and (min-width: 768px) and (max-width: 1199px){
    .scrollup {
        bottom: 25px;
        right: 25px;
    }
}
//Mobile Device
@media screen and (min-width: 320px) and (max-width: 767px){
    //Top social
    ul.social-icons {
        margin: 0;
        width: 100%;
        text-align: center;
        > li{
            margin: 5px;
        }
    }
    .sp-contact-info {
        display: table;
        float: none;
        margin: 0;
        text-align: center;
        width: 100%;
        li{
            margin: 0 5px;
            font-size: 89%;
        }
    }
    //Call to action
    .sppb-animated{
        .sppb-addon-cta{
            .sppb-cta-title{
                font-size: 28px !important;
                line-height: 40px !important;
            }
            .sppb-btn-lg{
                font-size: 16px;
            }
        }
    }
    //Back to top
    .scrollup {
        bottom: 25px;
        right: 25px;
    }
    //contact form
    .form-horizontal{
        .control-label{
            width: 100%;
            text-align: left;
        }
        .controls{
            margin: 0;
            width: 100%;
            input, textarea{
                width: 100%;
            }
            textarea{
                height: 131px;
            }
        }
    }
}
@media screen and (min-width: 550px) and (max-width: 767px){
    //top social
    .sp-contact-info li {
        margin: 0 5px;
        font-size: 90%;
    }
}
/* *********   END:: Responsive Media Query   ********* */
/* **************************************************** */
