// Lists and Tables
.list-striped,
.row-striped {
    border-top: 1px solid $border-color-light;
}

.list-striped li,
.list-striped dd,
.row-striped .row,
.row-striped .row-fluid {
    border-bottom: 1px solid $border-color-light;
}

.list-striped li:nth-child(odd),
.list-striped dd:nth-child(odd),
.row-striped .row:nth-child(odd),
.row-striped .row-fluid:nth-child(odd) {
    background-color: lighten($off-white, 2%);
}

.list-striped li:hover,
.list-striped dd:hover,
.row-striped .row:hover,
.row-striped .row-fluid:hover {
    background-color: darken($off-white, 2%);
}

.list-bordered,
.row-bordered {
    border: 1px solid $border-color-light;
}

.row-even,
.row-odd {
    border-bottom: 1px solid $border-color-light;
}

.row-even {
    background-color: lighten($off-white, 2%);
}

.iframe-bordered {
    border: 1px solid $border-color-light;
}

// Blockquote and Code
blockquote {
    border-left: 5px solid $border-color-light;
}

blockquote small {
    color: lighten($base-text-color, 20%);
}

blockquote.pull-right {
    border-right: 5px solid $border-color-light;
}

code, pre {
    background-color: $off-white;
    border: 1px solid $border-color-light;
}

pre {
    &.prettyprint {
        padding: 1rem !important;
    }
}

ul.tags.inline.uk-list a {
  &:hover, &:focus {
    color: $white;
  }
}
.item-image {
    margin-bottom: 1.3rem;
}
.item-page{
  background: #fff;
  padding: 20px;
  font-size: 16px;
  font-weight: 300;
}
