a {
  color: #96d036;
}
a:hover {
  color: #7aab28;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #96d036;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #eaeff2;
  border-left: 2px solid #96d036;
  color: #96d036;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #96d036;
}
#offcanvas-toggler >i {
  color: #999;
}
#offcanvas-toggler >i:hover {
  color: #96d036;
}
.btn-primary,
.sppb-btn-primary {
  background-color: #96d036;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.sppb-btn-primary:active {
  color: #fff;
  background-color: #7aab28;
  border-color: #3f5815;
}
ul.social-icons >li a:hover {
  color: #96d036;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #3a4b51;
}
.sp-module ul >li >a:hover {
  color: #96d036;
}
.sp-module .latestnews >div >a {
  color: #3a4b51;
}
.sp-module .latestnews >div >a:hover {
  color: #96d036;
}
.sp-module .tagscloud .tag-name:hover {
  background: #96d036;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #96d036;
  color: #fff;
}
.search .btn-toolbar button {
  background: #96d036;
}
.post-format {
  background: #96d036;
}
.voting-symbol span.star.active:before {
  color: #96d036;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #7aab28;
}
.entry-link,
.entry-quote {
  background: #96d036;
}
blockquote {
  border-color: #96d036;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #96d036;
}
#sp-footer {
  background: #fff;
}
.sp-comingsoon body {
  background-color: #96d036;
}
.pagination>li>a,
.pagination>li>span {
  color: #3a4b51;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #3a4b51;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #96d036;
  background-color: #96d036;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #96d036;
  background-color: #96d036;
}
