.form-control {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,0.6);
}
.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder {
  color: #999;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
a {
  color: #f7c873;
}
a:hover {
  color: #f4b543;
}
.sp-megamenu-parent >li.active>a,
.sp-megamenu-parent >li:hover>a {
  color: #f7c873;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item >a:hover {
  background: #eaeff2;
  border-left: 2px solid #f7c873;
  color: #f7c873;
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item.active>a {
  color: #f7c873;
}
#offcanvas-toggler >i {
  color: #999;
}
#offcanvas-toggler >i:hover {
  color: #f7c873;
}
.btn-primary,
.sppb-btn-primary {
  background-color: #f7c873;
  color: #fff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.sppb-btn-primary:hover,
.sppb-btn-primary:focus,
.sppb-btn-primary:active {
  color: #fff;
  background-color: #f4b543;
  border-color: #c6830b;
}
ul.social-icons >li a:hover {
  color: #f7c873;
}
.sp-page-title {
  background: #f7c873;
}
.layout-boxed .body-innerwrapper {
  background: #ffffff;
}
.sp-module ul >li >a {
  color: #000000;
}
.sp-module ul >li >a:hover {
  color: #f7c873;
}
.sp-module .latestnews >div >a {
  color: #000000;
}
.sp-module .latestnews >div >a:hover {
  color: #f7c873;
}
.sp-module .tagscloud .tag-name:hover {
  background: #f7c873;
}
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li.active > a,
.sp-simpleportfolio .sp-simpleportfolio-filter > ul > li > a:hover {
  background: #f7c873;
  color: #fff;
}
.search .btn-toolbar button {
  background: #f7c873;
}
.post-format {
  background: #f7c873;
}
.voting-symbol span.star.active:before {
  color: #f7c873;
}
.sp-rating span.star:hover:before,
.sp-rating span.star:hover ~ span.star:before {
  color: #f4b543;
}
.entry-link,
.entry-quote {
  background: #f7c873;
}
blockquote {
  border-color: #f7c873;
}
.carousel-left:hover,
.carousel-right:hover {
  background: #f7c873;
}
#sp-footer {
  background: #fff;
}
.sp-comingsoon body {
  background-color: #f7c873;
}
.pagination>li>a,
.pagination>li>span {
  color: #000000;
}
.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>span:hover,
.pagination>li>span:focus {
  color: #000000;
}
.pagination>.active>a,
.pagination>.active>span {
  border-color: #f7c873;
  background-color: #f7c873;
}
.pagination>.active>a:hover,
.pagination>.active>a:focus,
.pagination>.active>span:hover,
.pagination>.active>span:focus {
  border-color: #f7c873;
  background-color: #f7c873;
}
