%g-button {
    display: inline-block;
    position: relative;
    font-family: get-font-family($font-family-default);
    font-weight: 600;
    background: $accent-color-2;
    position: relative;
    border: 0px;
    color: $white;
    font-size: 14px;
    margin: 0;
    padding: 10px 30px;
    border-radius: 0px;
    vertical-align: middle;
    overflow: hidden;
    text-shadow: none;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);

    &:hover{
      color: #fff;
    }
    &:hover:before{
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
      color: #fff;
    }
}

.button {
    @extend %g-button;

    &.button-square {
        border-radius: 0;

        &[class*="button"] {
            border-radius: 0;
        }
    }

    &.button-block {
        display: block;
    }

    &.button-xlarge {
        font-size: $core-font-size + 0.8;
    }

    &.button-large {
        font-size: $core-font-size + 0.6;
    }

    &.button-medium {
        font-size: $core-font-size;
    }

    &.button-small {
        font-size: $core-font-size - 0.2;
    }

    &.button-xsmall {
        font-size: $core-font-size - 0.4;
    }

    &.button-alt {
        background: $accent-color-2;

        &:hover, &:active, &:focus {
            background: darken($accent-color-2, 10%);
        }

        &.button-special {
            &:before {
                .dir-ltr & {
                    border-left: 1px solid darken($accent-color-2, 8%);
                    border-bottom: 1px solid darken($accent-color-2, 8%);
                }
            }

            &:after {
                .dir-rtl & {
                    border-right: 1px solid darken($accent-color-2, 8%);
                    border-bottom: 1px solid darken($accent-color-2, 8%);
                }
            }
        }
    }

    &.button-3,
    &.button-4,
    &.button-grey,
    &.button-pink,
    &.button-red,
    &.button-purple,
    &.button-orange,
    &.button-blue {
        color: $white !important;

        &.button-3, &.button-4 {
            background: transparent;

            &:hover, &:active, &:focus {
                background: transparent;
            }
        }
    }

    &.button-2 {
        background: $accent-color-2;
        color: $white;

        &:hover, &:active, &:focus {

        }
    }

    &.button-3 {
        color: $accent-color-2 !important;
        border-color: $accent-color-2;
        background: transparent !important;

        &:hover, &:active, &:focus {
            background: $accent-color-2 !important;
            border-color: $accent-color-2 !important;
            color: $white !important;
        }
    }

    &.button-4 {
        color: $accent-color-1 !important;
        background: $white !important;
        border: 1px solid $accent-color-1;

        &:hover, &:active, &:focus {
            border-color: $accent-color-1;
            background: $accent-color-1 !important;
            color: $white !important;
        }
    }

    &.button-grey {
        background: $box-grey-background ;
        border-color: $box-grey-background ;
        color: $white;

        &:hover, &:active, &:focus {
            color: $box-grey-background  !important;
            border-color: $box-grey-background;
            background: transparent !important;
        }

        &.button-3, &.button-4 {
            background: transparent !important;
            color: $box-grey-background !important;
            border: 1px solid $box-grey-background;

            &:hover, &:active, &:focus {
                border-color: darken($box-grey-background, 15%) !important;
                color: darken($box-grey-background, 15%) !important;
            }
        }
    }

    &.button-pink {
        background: $box-pink-background ;
        border-color: $box-pink-background ;
        color: $white;

        &:hover, &:active, &:focus {
            color: $box-pink-background  !important;
            border-color: $box-pink-background;
            background: transparent !important;
        }

        &.button-3, &.button-4 {
            background: transparent !important;
            color: $box-pink-background !important;
            border: 1px solid $box-pink-background;

            &:hover, &:active, &:focus {
                border-color: darken($box-pink-background, 15%) !important;
                color: darken($box-pink-background, 15%) !important;
            }
        }
    }

    &.button-red {
        background: $box-red-background ;
        border-color: $box-red-background ;
        color: $white;

        &:hover, &:active, &:focus {
            color: $box-red-background  !important;
            border-color: $box-red-background;
            background: transparent !important;
        }
        &.button-3, &.button-4 {
            background: transparent !important;
            color: $box-red-background !important;
            border: 1px solid $box-red-background;

            &:hover, &:active, &:focus {
                border-color: darken($box-red-background, 15%) !important;
                color: darken($box-red-background, 15%) !important;
            }
        }
    }

    &.button-purple {
        background: $box-purple-background ;
        border-color: $box-purple-background ;
        color: $white;

        &:hover, &:active, &:focus {
            color: $box-purple-background  !important;
            border-color: $box-purple-background;
            background: transparent !important;
        }

        &.button-3, &.button-4 {
            background: transparent !important;
            color: $box-purple-background !important;
            border: 1px solid $box-purple-background;

            &:hover, &:active, &:focus {
                border-color: darken($box-purple-background, 15%) !important;
                color: darken($box-purple-background, 15%) !important;
            }
        }
    }

    &.button-orange {
        background: $box-orange-background ;
        border-color: $box-orange-background ;
        color: $white;

        &:hover, &:active, &:focus {
            color: $box-orange-background  !important;
            border-color: $box-orange-background;
            background: transparent !important;
        }

        &.button-3, &.button-4 {
            background: transparent !important;
            color: $box-orange-background !important;
            border: 1px solid $box-orange-background;

            &:hover, &:active, &:focus {
                border-color: darken($box-orange-background, 15%) !important;
                color: darken($box-orange-background, 15%) !important;
            }
        }
    }

    &.button-blue {
        background: $box-blue-background ;
        border-color: $box-blue-background ;
        color: $white;

        &:hover, &:active, &:focus {
            color: $box-blue-background  !important;
            border-color: $box-blue-background;
            background: transparent !important;
        }

        &.button-3, &.button-4 {
            background: transparent !important;
            color: $box-blue-background !important;
            border: 2px solid $box-blue-background;

            &:hover, &:active, &:focus {
                border-color: darken($box-blue-background, 15%) !important;
                color: darken($box-blue-background, 15%) !important;
            }
        }
    }

    &.button-arrow {
        position: relative;

        &:before, &:after {
            font-family: FontAwesome;
        }

        &:after {
            .dir-ltr & {
                content: "\f178";
                margin-left: 1rem;
            }
        }

        &:before {
            .dir-rtl & {
                content: "\f177";
                margin-right: 1rem;
            }
        }
    }

    &.button-special {
        position: relative;

        &:before {
            .dir-ltr & {
                position: absolute;
                content: "";
                top: 8px;
                bottom: -8px;
                left: -8px;
                right: 8px;
                border-left: 1px solid darken($accent-color-1, 8%);
                border-bottom: 1px solid darken($accent-color-1, 8%);
            }
        }

        &:after {
            .dir-rtl & {
                position: absolute;
                content: "";
                top: 8px;
                bottom: -8px;
                right: -8px;
                left: 8px;
                border-right: 1px solid darken($accent-color-1, 8%);
                border-bottom: 1px solid darken($accent-color-1, 8%);
            }
        }
    }

    &.button-outline {
        color: $white !important;
        background: transparent;
        border: 1px solid $white;

        &:before {
            .dir-ltr & {
                border-left: 1px solid $white;
                border-bottom: 1px solid $white;
            }
        }

        &:after {
            .dir-rtl & {
                border-right: 1px solid $white;
                border-bottom: 1px solid $white;
            }
        }

        &:hover {
            border: 1px solid $accent-color-1;
            color: $accent-color-1 !important;

            &:before {
                .dir-ltr & {
                    border-left: 1px solid $accent-color-1;
                    border-bottom: 1px solid $accent-color-1;
                }
            }

            &:after {
                .dir-rtl & {
                    border-right: 1px solid $accent-color-1;
                    border-bottom: 1px solid $accent-color-1;
                }
            }
        }
    }

    &.button-text-only {
        padding: 0 !important;
        background: transparent !important;
        color: $accent-color-1 !important;

        &:hover {
            color: darken($accent-color-1, 15%);
        }
    }
}

.uk-button {
  /* 1 */
  margin: 0;
  /* 2 */
  border: none;
  /* 3 */
  overflow: visible;
  /* 4 */
  font: inherit;
  color: inherit;
  /* 5 */
  text-transform: none;
  /* 6 */
  display: inline-block;
  box-sizing: border-box;
  padding: 0 30px;
  vertical-align: middle;
  font-size: 0.875rem;
  /* 7 */
  line-height: 38px;
  /* 8 */
  text-align: center;
  /* 9 */
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-property: color, background-color, border-color;
  transition-property: color, background-color, border-color;
}
.uk-button:not(:disabled) {
  cursor: pointer;
}
/*
 * Remove the inner border and padding in Firefox.
 */
.uk-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* Hover */
.uk-button:hover {
  /* 8 */
  text-decoration: none;
}
/* Focus */
.uk-button:focus {
  outline: none;
}
/* OnClick + Active */
/* Style modifiers
 ========================================================================== */
/*
 * Default
 */
.uk-button-default {
  background-color: transparent;
  color: #333;
  border: 1px solid #e5e5e5;
}
/* Hover + Focus */
.uk-button-default:hover,
.uk-button-default:focus {
  background-color: transparent;
  color: #333;
  border-color: #b2b2b2;
}
/* OnClick + Active */
.uk-button-default:active,
.uk-button-default.uk-active {
  background-color: transparent;
  color: #333;
  border-color: #999999;
}
/*
 * Primary
 */
.uk-button-primary {
  background-color: #1e87f0;
  color: #fff;
  border: 1px solid transparent;
}
/* Hover + Focus */
.uk-button-primary:hover,
.uk-button-primary:focus {
  background-color: #0f7ae5;
  color: #fff;
}
/* OnClick + Active */
.uk-button-primary:active,
.uk-button-primary.uk-active {
  background-color: #0e6dcd;
  color: #fff;
}
/*
 * Secondary
 */
.uk-button-secondary {
  background-color: #222;
  color: #fff;
  border: 1px solid transparent;
}
/* Hover + Focus */
.uk-button-secondary:hover,
.uk-button-secondary:focus {
  background-color: #151515;
  color: #fff;
}
/* OnClick + Active */
.uk-button-secondary:active,
.uk-button-secondary.uk-active {
  background-color: #080808;
  color: #fff;
}
/*
 * Danger
 */
.uk-button-danger {
  background-color: #f0506e;
  color: #fff;
  border: 1px solid transparent;
}
/* Hover + Focus */
.uk-button-danger:hover,
.uk-button-danger:focus {
  background-color: #ee395b;
  color: #fff;
}
/* OnClick + Active */
.uk-button-danger:active,
.uk-button-danger.uk-active {
  background-color: #ec2147;
  color: #fff;
}
/*
 * Disabled
 * The same for all style modifiers
 */
.uk-button-default:disabled,
.uk-button-primary:disabled,
.uk-button-secondary:disabled,
.uk-button-danger:disabled {
  background-color: transparent;
  color: #999;
  border-color: #e5e5e5;
}
/* Size modifiers
 ========================================================================== */
.uk-button-small {
  padding: 0 15px;
  line-height: 28px;
  font-size: 0.875rem;
}
.uk-button-large {
  padding: 0 40px;
  line-height: 53px;
  font-size: 0.875rem;
}
/* Text modifiers
 ========================================================================== */
/*
 * Text
 * 1. Reset
 * 2. Style
 */
.uk-button-text {
  /* 1 */
  padding: 0;
  line-height: 1.5;
  background: none;
  /* 2 */
  color: #333;
  position: relative;
}
.uk-button-text::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 100%;
  border-bottom: 1px solid #333;
  -webkit-transition: right 0.3s ease-out;
  transition: right 0.3s ease-out;
}
/* Hover + Focus */
.uk-button-text:hover,
.uk-button-text:focus {
  color: #333;
}
.uk-button-text:hover::before,
.uk-button-text:focus::before {
  right: 0;
}
/* Disabled */
.uk-button-text:disabled {
  color: #999;
}
.uk-button-text:disabled::before {
  display: none;
}
/*
 * Link
 * 1. Reset
 * 2. Style
 */
.uk-button-link {
  /* 1 */
  padding: 0;
  line-height: 1.5;
  background: none;
  /* 2 */
  color: #1e87f0;
}
/* Hover + Focus */
.uk-button-link:hover,
.uk-button-link:focus {
  color: #0f6ecd;
  text-decoration: underline;
}
/* Disabled */
.uk-button-link:disabled {
  color: #999;
  text-decoration: none;
}
/* Group
 ========================================================================== */
/*
 * 1. Using `flex` instead of `inline-block` to prevent whitespace betweent child elements
 * 2. Behave like button
 * 3. Create position context
 */
.uk-button-group {
  /* 1 */
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  /* 2 */
  vertical-align: middle;
  /* 3 */
  position: relative;
}
/* Group
     ========================================================================== */
/*
     * Collapse border
     */
.uk-button-group > .uk-button:nth-child(n+2),
.uk-button-group > div:nth-child(n+2) .uk-button {
  margin-left: -1px;
}
/*
     * Create position context to superimpose the successor elements border
     * Known issue: If you use an `a` element as button and an icon inside,
     * the active state will not work if you click the icon inside the button
     * Workaround: Just use a `button` or `input` element as button
     */
.uk-button-group .uk-button:hover,
.uk-button-group .uk-button:focus,
.uk-button-group .uk-button:active,
.uk-button-group .uk-button.uk-active {
  position: relative;
  z-index: 1;
}
