//JoomLead 2015 - 2017

#sp-quickcontact-form textarea#message {
    width: 100%;
}
#sp-quickcontact-form {
    #{$all-text-inputs} {
      width: 100%;
        border-radius: 0 !important;
        line-height: 30px;
        background: #fff;
    }
}


.jl-breadcrumb {
    margin-left: 12px;
}



// Navigation
#g-navigation{
  .g-content{
    padding: 0 1.5rem;
    margin: 0 0.625rem;
  }
}

#g-container-main{
  #g-mainbar{
    .jl-portfolio {
      .jl-portfolio-filter{
        display: none;
      }
      .jl-portfolio-item {
        .jl-portfolio-item-tags{
          display: none;
        }
      }
    }
    .aboutme-txt{
      background: #fff;
      padding: 20px;
      h4{
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 40px;
        font-weight: 500;
        color: #333;
        margin: 2rem 0 0 0;
      }
      span{
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: $accent-color-2;
      }
      p{
        line-height: 26px;
        font-size: 13px;
      }
    }
    .jl-carousel{
      background: #fff;
      padding: 1rem 0;
    }
    .jl-member {
      .jl-member-item{
        .jl-member-item-content{
          .jl-member-info{
            background: #fff;
            .jl-member-role{
              color: $accent-color-2;
            }
          }
          .jl-member-icon{
            background: #fff;
            a{
              i{
                color: #000;
                &:hover{
                  color: $accent-color-2;
                }
              }
            }
          }
        }
      }
    }
  }
  .g-contentcubes {
    .cube-items-wrapper{
      background: #fff;
      .cube-image-wrapper{
        img{
          -webkit-transform: scale3d(1, 1, 1);
          -moz-transform: scale3d(1, 1, 1);
          -ms-transform: scale3d(1, 1, 1);
          -o-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
          -webkit-transition: -webkit-transform 0.5s cubic-bezier(0, 0, 0, 1);
          -moz-transition: -moz-transform 0.5s cubic-bezier(0, 0, 0, 1);
          transition: transform 0.5s cubic-bezier(0, 0, 0, 1);
        }
      }
      .cube-content-wrapper{
        .item-title{
          a{
            color: $accent-color-1;
          }
        }
        .item-label{
          background: $accent-color-2;
        }
      }
    }
  }
  .contact-info{
    padding-top: 2rem;
    h4{
      color: #000;
      font-weight: 700;
    }
    p{
      padding-right: 15px;
    }
  }
  .jl-contact-form{
    padding-top: 2rem;
  }
}

.g-error{
  #g-container-main{
    text-align: center;
    .error-text{
      padding: 20px 0 0;
      h2{
        font-size: 30px;
        font-weight: 600;
      }
      p{
        a{
          color: $accent-color-2;
        }
      }
    }
  }
}

.acymailing_module{
  .acymailing_module_form{
    .acyfield_email{
      input{
        background: #fff;
        -moz-box-shadow: 0px 5px 20px -5px #ccc;
        -webkit-box-shadow: 0px 5px 20px -5px #ccc;
        box-shadow: 0px 5px 20px -5px #ccc;
        font-weight: 300;
        height: 47px;
      }
    }
    .acysubbuttons{
      display: inline-block;
      .thm-button{
        border-radius: 0px;
        padding: 15px 30px;
      }
    }
  }
}




// Error
#g-error{
  .error-txt{
    h1{
      font-size: 120px;
      font-weight: 800;
    }
    h3{
      font-size: 35px;
    }
    .er-bt{
      color: #fff;
      background: transparent;
      border: 2px solid rgba(255,255,255,0.5);
      @include breakpoint(mobile-only){
        margin-top: 10px;
      }
      &:hover{
        border-color: #fff;
        color: $accent-color-1;
      }
      &:before{
        background: #fff;
      }
    }
  }
}

// Aside
.platform-content{
  margin: 0;
  padding: 0.5rem 0;
  .moduletable {
    .g-title{
      font-weight: 600;
      line-height: 1;
      font-size: 18px;
    }
    .custom{
      .category-widget{
        ul{
          li{
            list-style-type: none;
            padding: 12px 0;
            border-bottom: 1px solid #e3e9ed;
            &:last-child{
              border-bottom: 0px;
            }
            a{
              color: #555;
              &:hover{
                color: $accent-color-1;
              }
            }
          }
        }
      }
      p{
        font-weight: 300;
        font-size: 16px;
      }
      #recentcomments{
        padding-left: 15px;
      }
    }
    .search{
      input{
        background: transparent;
        border-radius: 0px;
      }
    }
  }
  .tagspopular{
    ul{
      li{
        a{
          background: #fff;
          color: #555;
          font-size: 14px;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
}
@media only all and (max-width: 50.938rem) {
  #g-footer {
    text-align: center;
    .g-content {
      margin: 0 0.625rem;
    }
  }
}
