#g-footer {
    color: $footer-text-color;
    background: $footer-background;
    border-bottom: 1px solid #ddd;
}

@media print {
    #g-footer {
        background: #fff !important;
        color: #000 !important;
    }
}
