#g-mainbar {
  &.home{
    background: transparent;
  }
  @include breakpoint(mobile-only){
    padding: 2%;
  }
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media print {
    #g-mainbar {
        background: #fff !important;
        color: #000 !important;
    }
}
