.g-social {
        line-height: normal;
    a {
      color: rgba(178, 185, 189, 0.8);
      span{
        border-radius: 0;
        padding-left: 10px;
        text-align: center;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

      }
      &:hover{
        color: $accent-color-1;
      }
    }

    @include breakpoint(mobile-only) {
        text-align: center;
    }

}
