{% extends ajax-suffix ? "@gantry-admin/partials/ajax.html.twig" : "@gantry-admin/partials/base.html.twig" %}

{% block gantry %}
    <div class="g-grid overview-header">
        <div class="g-block">
            <h2 class="theme-title">
                {% if gantry.theme.icon %}<i class="fa fa-{{ gantry.theme.icon }}"></i>{% endif %} {{ gantry.theme.title }}
            </h2>
            <span class="theme-version">v{{ gantry.theme.version }}</span>
            <div>By <a href="{{ gantry.theme.author.link }}">{{ gantry.theme.author.name }}</a></div>
        </div>
        <div class="g-block">
            <span class="float-right">
                <button class="button button-back-to-conf"><i class="fa fa-fw fa-arrow-left"></i> <span>Back to Setup</span></button>
                <a href="https://joomlead.com/joomla-template/" class="button button-primary"><i class="fa fa-joomla" aria-hidden="true"></i>
                <span>Joomla Templates</span></a>
                <a href="https://joomlead.com/gantry-5-particles/" class="button button-primary"><i class="fa fa-support" aria-hidden="true"></i>
                <span>Gantry5 Particles</span></a>
            </span>
        </div>
    </div>

    <div class="g-grid overview-details">
        <div class="g-block size-35">
             <img src="{{ url(info.thumbnail) }}" class="preview-image" alt="">
        </div>

        <div class="g-block">
            <p>Dream is a clean and light site template created for churches, prayer groups, christian, charity and non-profit organizations.</p>
        </div>
    </div>

    {% include '@gantry-admin/partials/gantry-details.html.twig' %}
{% endblock %}
