{% include 'style.html.twig' %}

<div class="g5i">
    <h1>
        <span class="g5-title">{{ name }} Template Installed</span>
        <span class="g5-info">v{{ version }} / {{ date }}</span>
    </h1>

    <p>Dream – Multipurpose Joomla Template is a responsive, clean and modern designed suitable for a simple portfolio template for freelancers,bloggers, photographers, creative agency, architects and much more.</p>

    <div class="g5-actions">
        <a href="{{ edit_url }}" class="g5-button">Configure {{ name }} <span class="g5-icon icon-chevron-right"></span></a>
    </div>
    <div class="g5-joomlead">
    <a href="https://joomlead.com" target="_blank"><span>&copy; JoomLead 2017</span></a>
</div>
</div>
